<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="container">
        <div class="left-cont">
            <h2>Product 1</h2>
            <p class="info">Put some info about Product 1 here</p>
            <p>List item 1</p>
            <hr>
            <p>List item 2</p>
            <hr>
            <p>List item 3</p>
            <h1>2500 LKR</h1>
            <button class="btn1">Buy Now ✔️</button>
        </div>
        <div class="mid-cont mid-para">
            <h1 class="heading">Product 2</h1>
            <p class="info">Put some info about Product 1 here</p>
            <p class="mid-para">List item 1</p>
            <hr>
            <p class="mid-para">List item 2</p>
            <hr>
            <p class="mid-para">List item 3</p>
            <h1>5000 LKR</h1>
            <button class="btn2">Buy Now ✔️</button>
        </div>
        <div class="right-cont">
            <h2>Product 3</h2>
            <p class="info">Put some info about Product 1 here</p>
            <p>List item 1</p>
            <hr>
            <p>List item 2</p>
            <hr>
            <p>List item 3</p>
            <h1>7500 LKR</h1>
            <button class="btn1">Buy Now ✔️</button>
        </div>
    </div>
</body>
</html>